.contacto {
    margin-top: 3vh;
}

.contacto__formulario {
    display: flex;
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 13vh auto 0;
    .formulario {
        width: 70%;
        min-width: 300px;
        // border-radius: 20px;
        box-sizing: border-box;
        // padding: 12rem 0;
        color: #fff;
        .h2form {
            color: #fff;
            font-weight: 300;
            letter-spacing: 0.2rem;
        }
        .form-text {
            display: block;
            width: 100%;
            box-sizing: border-box;
            margin: 16px 0;
            border: 0;
            background: #111;
            padding: 25px 40px;
            outline: none;
            color: #fff;
            transition: 0.5s;
            // border-radius: 20px;
        }
    }
}

textarea.form-text {
    // border-radius: 20px;
    resize: none;
    height: 180px;
}

.form-btn {
    float: right;
    border: 0;
    background: #151515;
    color: #fff;
    padding: 12px 34px;
    // border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.5s;
    &:hover {
        /* background: #2980b9; */
        box-shadow: 0 0 20px rgb(71, 71, 71);
    }
}
